@using Trirand.Web.Mvc

@model jqGridInLineEditingSpike.Models.BooksJqGridModel

@{
    ViewBag.Title = "jqGrid InLine Spike Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
@section scripts
{
     <!-- The jQuery UI theme that will be used by the grid -->
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.0/themes/redmond/jquery-ui.css" />
    <!-- The jQuery UI theme extension jqGrid needs -->    
    <link rel="stylesheet" type="text/css" href="http://www.trirand.net/aspnetmvc/Content/themes/ui.jqgrid.css" />
    <!-- The localization file we need, English in this case -->
    <script type="text/javascript" src="http://www.trirand.net/aspnetmvc/Scripts/trirand/i18n/grid.locale-en.js"></script>
    <!-- The jqGrid client-side javascript -->
    <script type="text/javascript" src="http://www.trirand.net/aspnetmvc/Scripts/trirand/jquery.jqGrid.min.js"></script>    
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
<div>
    @Html.Trirand().JQGrid(Model.BooksGrid, "Grid")
</div>
<script type="text/javascript">

    var lastSelection;

    function editRow(id) {
        if (id && id !== lastSelection) {
            var grid = $("#Grid");
            grid.restoreRow(lastSelection);
            grid.jqGrid('getColProp', 'Title').editable = false;
            grid.jqGrid('getColProp', 'Author').editable = false;

            grid.editRow(id, true);
            grid.jqGrid('getColProp', 'Title').editable = true;
            grid.jqGrid('getColProp', 'Author').editable = true;
            lastSelection = id;
        }
    }     
</script>

